<section class="tablas">
    <table>
        <thead>
            <tr>
                <th>Confidencialidad</th>
                <th>Valor</th>
                <th>Color</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of confidencialidad; let i = index">
                <td> 
                    <input [(ngModel)]="item.estado" [readOnly]="!item.editado">
                </td>
                <td>
                    <input [(ngModel)]="item.valor" [readOnly]="!item.editado">
                </td>
                <td>

                </td>
                <td>
                    <button >✏️</button>
                    <button >💾</button>
                    <button >🗑️</button>
                </td>
            </tr>
            <tr>
                <td><input  /></td>
                <td><input  /></td>
                <td><input /></td>
                <td><button >➕</button></td>
            |</tr>
        </tbody>
    </table>
</section>

<section>
    <table>
        <thead>
            <tr>
                <th>Integridad</th>
                <th>Valor</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of integridad">
                <td> {{ item.estado }} </td>
                <td> {{ item.valor}} </td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <table>
        <thead>
            <tr>
                <th>Disponibilidad</th>
                <th>Valor</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of disponibilidad">
                <td> {{ item.estado }} </td>
                <td> {{ item.valor}} </td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <table>
        <thead>
            <tr>
                <th>Tipos de activos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of tipodeactivo">
                <td> {{ item.nombre }} </td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <table>
        <thead>
            <tr>
                <th>Proceso</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of proceso">
                <td> {{ item.nombre }} </td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <table>
        <thead>
            <tr>
                <th>Responsable / Custodio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of custodio">
                <td> {{ item.nombre }} </td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <table>
        <thead>
            <tr>
                <th>Datos personales</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of datospersonales">
                <td> {{ item.nombre }} </td>
            </tr>
        </tbody>
    </table>
</section>