<section class="formulas-config">
 
    <div class="opciones">
      <h1>Elementos</h1>
      <button (click)="appendToFormula('Integridad')">Integridad</button>
      <button (click)="appendToFormula('Disponibilidad')">Disponibilidad</button>
      <button (click)="appendToFormula('Confidencialidad')">Confidencialidad</button>
    </div>
 
    <div class="calculadora">
      <div class="formula">
        {{ formula }}
        
      </div>
      <div class="button-agregar">
        <button>Agregar formula</button>
      </div>
      <div class="resultado" *ngIf="result !== null">
        Resultado: {{ result }}
      </div>
 
      <div class="error" *ngIf="error">
        Error: {{ error }}
      </div>
 
      <div class="btn-calculadora">
        <button (click)="appendToFormula('(')">(</button>
        <button (click)="appendToFormula(')')">)</button>
        <button (click)="appendToFormula('%')">%</button>
        <button (click)="clearFormula()">AC</button>
      </div>
 
      <div class="btn-calculadora">
        <button (click)="appendToFormula('7')">7</button>
        <button (click)="appendToFormula('8')">8</button>
        <button (click)="appendToFormula('9')">9</button>
        <button (click)="appendToFormula('/')">÷</button>
      </div>
 
      <div class="btn-calculadora">
        <button (click)="appendToFormula('4')">4</button>
        <button (click)="appendToFormula('5')">5</button>
        <button (click)="appendToFormula('6')">6</button>
        <button (click)="appendToFormula('*')">x</button>
      </div>
 
      <div class="btn-calculadora">
        <button (click)="appendToFormula('1')">1</button>
        <button (click)="appendToFormula('2')">2</button>
        <button (click)="appendToFormula('3')">3</button>
        <button (click)="appendToFormula('-')">-</button>
      </div>
 
      <div class="btn-calculadora">
        <button (click)="appendToFormula('0')">0</button>
        <button (click)="appendToFormula('.')">.</button>
        <button (click)="calculateFormula()">=</button>
        <button (click)="appendToFormula('+')">+</button>
      </div>
    </div>
  </section>

<section class="formulas">
    <h1>Formulas creadas</h1>
    <label>
      <input
        type="radio"
        name="formulaSeleccionada"
        [(ngModel)]="formula"
        value="((Disponibilidad + Integridad + Confidencialidad) / 3)"
      />
      Fórmula por defecto
    </label>
</section>