<app-navbar></app-navbar>

<h1>Configuración Activos</h1>
<section class="button-config">
    <button>Formulas</button>
    <button>Tablas</button>
</section>

<section>
    <div class="formula">
        <h1>Confidencialidad</h1>
        <p>Integridad</p>
        <p>Disponibilidad</p>
        <p></p>
    </div>
    <div class="opciones">
        <p>Muestra formula</p>
    </div>
    <div class="calculadora">
        <div class="btn-calculadora">
            <button >(</button>
            <button>)</button>
            <button>%</button>
            <button>AC</button>
        </div>
        <div class="btn-calculadora">
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button>÷</button>
        </div>
        <div class="btn-calculadora">
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>x</button>
        </div>
        <div class="btn-calculadora">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>-</button>
        </div>
        <div class="btn-calculadora">
            <button>0</button>
            <button>.</button>
            <button>=</button>
            <button>+</button>
        </div>
    </div>
</section>